<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">Freshmaal</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/shopping-cart']">Cart</a></li> 
        <ng-template #anonymousUser>
          <li><a [routerLink]="['/login']">Login</a></li>
        </ng-template>
        <li *ngIf="auth.user$ | async as user; else anonymousUser" class="dropdown" dropdown>
            <a class="dropdown-toggle" data-toggle="dropdown" dropdownToggle>{{user.displayName}}
            <span class="caret"></span></a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a [routerLink]="['/my-orders']">My Orders</a></li>
              <li><a [routerLink]="['/admin/admin-products']">Manage Product</a></li>
              <li><a [routerLink]="['/admin/admin-orders']">Manage Orders</a></li>
              <li (click)="logout()"><a>Logout</a></li>
            </ul>
        </li>
        
      </ul>
    </div>
  </nav>
  <hr>